{% extends "base.html.twig" %}

{% block title %}monstre -{{monster_id}}{% endblock %}

{% block body %}
<h1> {{ monster.name }}</h1>

<img src="{{ asset('images/' ~ monster.image) }}" class="solo" />
<p>
    {{ monster.description }}
</p>
<hr>
<a href="{{ path('monsters_list') }}">retour à l'acceuil</a>

{% endblock %}
